html,
body {
    height: 100%;
}

.lt_aside-left {
    width: 180px;
    height: 100%;
    background-color: #212c32;
}

.lt_aside-left .top {
    height: 50px;
    background-color: #367ea8;
    text-align: center;
}

.lt_aside-left .top a {
    color: #ffffff;
    line-height: 50px;
}

.lt_aside-left .bottom a {
    color: #ffffff;
    display: block;
    padding: 30px 0 30px 10px;
}

.lt_aside-left .bottom img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.lt_aside-left ul {
    text-align: center;
}

.lt_aside-left ul>li>a {
    line-height: 40px;
    border: 3px solid transparent;
}

.lt_aside-left ul>li.active>a {
    background-color: #000000;
    border-left: 3px solid skyblue;
    color: #fff;
}
/* .lt_aside-left ol{
    display:none;
} */
.lt_aside-left ol li {
    line-height: 20px;
}

.lt_aside-left ol li>a {
    font-size: 12px;
    line-height: 30px;
    padding-left: 30px;
}
.lt_aside-left ol>li.active a{
    color: #fff;
}

.lt_aside-left ul a {
    color: #ccc;
    display: block;
    width: 100%;
    height: 100%;
}

.lt_aside-right {
    margin-left: 180px;
}

.lt_aside-right.on {
    margin-left: 0;
}

.lt_aside-right .top {
    width: 100%;
    height: 50px;
    background-color: #3c8cbb
}

.lt_aside-right .top a {
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    margin: 0 15px;
}

.lt_aside-right .breadcrumb {
    margin: 10px 20px;
}

.modal {
    padding-top: 100px;
    background-color: rgba(0, 0, 0, .5)
}
